* {
    box-sizing: border-box;
}

// header font
$fredoka: 'Fredoka One', 'Arial Narrow', Arial, sans-serif;
// p font
$bubblegum: 'Bubblegum Sans', 'Arial Narrow', Arial, sans-serif;
// KEYFRAMES


body {
    background-image: url(../images/wp5015262-desktop-rick-and-morty-wallpapers.jpg);
}
header {  
    height: 10vh;
    h1 {
        font-family: $fredoka;
        font-size: 4rem;
        text-align: center;
        margin: 2rem;
        text-shadow: greenyellow 1px 1px 0;
    }
    #Hunderline {
        text-decoration: underline 5px greenyellow;
    }
}
section {
    border: 1px solid black;
    border-radius: 45px;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
        h2 {
            font-family: $fredoka;
            font-size: 2rem;
            text-align: center;
        }
        p {
            font-family: $bubblegum;
            font-size: 1.3rem;
        }

    .click-container{
        background-color: rgba(255, 255, 255, 0.9);        
        margin: .5rem;
        width:25%;
        height: 85vh;
        padding: 2rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
            #clicker-head {
                height: 30vh;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            #clicker {
                height: 30vh;
                display:flex;
                align-items: center;
                justify-content: center;

                    img {
                        animation: spin 2s infinite;
                    }
                    img:hover {
                        width: 14rem;
                        transition: 1s;
                    }
                    @keyframes spin {
                        from { transform: rotate(0deg); }
                        to { transform: rotate(360deg); }
                    }
                    
                    

            }
            #clicker-bottom {
                height:30vh;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            #chmecklesBottom {
                text-decoration: underline 5px solid greenyellow;
                font-weight: bold;
            }
    }
    .meme-container {
        background-color: rgba(255, 255, 255, 0.9);        
        margin:.5rem;
        width:45%;
        height: 85vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        #click-counter {

            #theCounter {
                text-decoration: underline 5px solid greenyellow;
            }
            p {
                font-family: $bubblegum;
                margin: 1rem;
                font-weight: bold;
            }
        }
            #meme {
                width: 70%;
                height:70%;
                display:flex;
                align-items: center;
                justify-content: center;
                    img {
                        width: 22rem;
                        border-radius: 5%;
                    }
            }
            #collected-memes {
                margin: 1rem;
                width: 90%;
                height:20%;
                overflow:auto;
                p {
                    margin: .3rem;
                    font-family: $fredoka;
                }
                img {
                    width: 3rem;
                    margin:.3rem;
                    border-radius: 10%;
                }
            }
    }
    .upgrade-container {
        background-color: rgba(255, 255, 255, 0.9);        
        margin:.5rem;
        width:15%;
        height: 85vh;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
            #upgrade-head {
                display:flex;
                align-items: center;
                justify-content:center;
                height: 20%;
            }
            #upgrade-buttons {
                height: 50%;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-around;
                // button styling
                    #click-plus {
                        font-size: 1.3rem;
                        color:rgb(0, 0, 0);
                        width: 10rem;
                        height:3rem;
                        background: greenyellow;
                        box-shadow: black 4px 4px 0px;
                        border-radius: 8px;
                        transition: transform 200ms, box-shadow 200ms;

                    }
                    // button click animation
                    #click-plus:active {
                        transform: translateY(4px) translateX(4px);
                        box-shadow: black 0px 0px 0px;
                    }
                    // button hover effect
                    #click-plus:hover {
                        background: rgb(145, 238, 6);
                    }
                    // auto clicker button styling
                    #auto-clicker {
                        width: 10rem;
                        height:3rem;
                        background: greenyellow;
                        box-shadow: black 4px 4px 0px;
                        border-radius: 8px;
                        transition: transform 200ms, box-shadow 200ms;
                    }
                    // button click animation
                    #auto-clicker:active {
                        transform: translateY(4px) translateX(4px);
                        box-shadow: black 0px 0px 0px;
                    }
                    // button hover effect
                    #auto-clicker:hover {
                        background: rgb(145, 238, 6);
                    }
                    #meme-clicker {
                        width: 10rem;
                        height:3rem;
                        background: greenyellow;
                        box-shadow: black 4px 4px 0px;
                        border-radius: 8px;
                        transition: transform 200ms, box-shadow 200ms;
                    }
                    // button click animation
                    #meme-clicker:active {
                        transform: translateY(4px) translateX(4px);
                        box-shadow: black 0px 0px 0px;
                    }
                    // button hover effect
                    #meme-clicker:hover {
                        background: rgb(145, 238, 6);
                    }
                    .price {
                        font-family: $fredoka;
                        color: red;
                        font-size:.5rem;
                    }
            }
    }
}