* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/wp5015262-desktop-rick-and-morty-wallpapers.jpg);
}

header {
  height: 10vh;
}
header h1 {
  font-family: "Fredoka One", "Arial Narrow", Arial, sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 2rem;
  text-shadow: greenyellow 1px 1px 0;
}
header #Hunderline {
  text-decoration: underline 5px greenyellow;
}

section {
  border: 1px solid black;
  border-radius: 45px;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#container h2 {
  font-family: "Fredoka One", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
}
#container p {
  font-family: "Bubblegum Sans", "Arial Narrow", Arial, sans-serif;
  font-size: 1.3rem;
}
#container .click-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem;
  width: 25%;
  height: 85vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#container .click-container #clicker-head {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .click-container #clicker {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .click-container #clicker img {
  animation: spin 2s infinite;
}
#container .click-container #clicker img:hover {
  width: 14rem;
  transition: 1s;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#container .click-container #clicker-bottom {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .click-container #chmecklesBottom {
  text-decoration: underline 5px solid greenyellow;
  font-weight: bold;
}
#container .meme-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem;
  width: 45%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container .meme-container #click-counter #theCounter {
  text-decoration: underline 5px solid greenyellow;
}
#container .meme-container #meme {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container .meme-container #meme img {
  width: 22rem;
  border-radius: 5%;
}
#container .upgrade-container {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0.5rem;
  width: 15%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container .upgrade-container #upgrade-head {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}
#container .upgrade-container #upgrade-buttons {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#container .upgrade-container #upgrade-buttons #click-plus {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  width: 10rem;
  height: 3rem;
  background: greenyellow;
  box-shadow: black 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
#container .upgrade-container #upgrade-buttons #click-plus:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: black 0px 0px 0px;
}
#container .upgrade-container #upgrade-buttons #click-plus:hover {
  background: rgb(145, 238, 6);
}
#container .upgrade-container #upgrade-buttons #auto-clicker {
  width: 10rem;
  height: 3rem;
  background: greenyellow;
  box-shadow: black 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
#container .upgrade-container #upgrade-buttons #auto-clicker:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: black 0px 0px 0px;
}
#container .upgrade-container #upgrade-buttons #auto-clicker:hover {
  background: rgb(145, 238, 6);
}
#container .upgrade-container #upgrade-buttons #meme-clicker {
  width: 10rem;
  height: 3rem;
  background: greenyellow;
  box-shadow: black 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
#container .upgrade-container #upgrade-buttons #meme-clicker:active {
  transform: translateY(4px) translateX(4px);
  box-shadow: black 0px 0px 0px;
}
#container .upgrade-container #upgrade-buttons #meme-clicker:hover {
  background: rgb(145, 238, 6);
}
#container .upgrade-container #upgrade-buttons .price {
  font-family: "Fredoka One", "Arial Narrow", Arial, sans-serif;
  color: red;
  font-size: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
